body {
  background: #fafafa;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
.auth-successful h2 {
  width: 100%;
  text-align: center;
}
.auth-successful paper-button {
  width: 100%;
  text-align: center;
}
paper-card {
  border: 1px solid #cd9660;
  border-radius: 2px;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
paper-menu #arm-info {
  padding: 0 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  min-height: 48px;
}